/* Type your code here */


/* change the font family and spacing as per your project font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,800;1,700&display=swap');



body {
	font-family: 'Nunito Sans', sans-serif;

	background: white;
	column-width: 100%;

}

header>div {
	padding-left: 63em;
}

h1,
h4 {
	padding-left: 30px;
}

#background-image {
	background-image: url("/lab-cricpro-scoreboard/assets/background-image1.png");
	width: 100%;
	margin: 30px;
	background-position: right;


	background-repeat: no-repeat;
	height: 600px;



}


td {

	border-bottom: 0.5px solid rgb(153, 149, 149);
	border-collapse: collapse;
}

table {
	border: 1px solid white;
	background-color: ivory;
}



table,
th,
td {

	border-collapse: collapse;
	border-bottom: 2px Solid lightgrey;

}

th,
td {
	padding: 10px;
}

a {
	text-decoration: none;
}




.footer {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	position: relative;
	top:
		margin-left: 20px;
	font-size: 18px;
	font-family: Nunito Sans;
	font-style: normal;

}