.icc {
	position: absolute;
	width: 961px;
	height: 65px;
	left: 80px;
	top: 75px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 65px;
	color: #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.ind_sri {
	position: absolute;
	width: 950px;
	height: 33px;
	left: 80px;
	top: 155px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	/* identical to box height */


	color: #696969;


}

.image {
	position: absolute;
	width: 100%;
	height: 532px;
	display: flex;
	left: 620px;
	top: 189px;
	background: url(asserts\background-image1.png);
}

.logo {
	position: absolute;
	width: 143px;
	height: 65px;
	left: 1189.79px;
	top: 9.42px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 65px;
	display: flex;
	align-items: center;
	color: #000000;
	background: url(assets\Logo.JPG);
}

.title {
	position: absolute;
	width: 960px;
	height: 43.81px;
	left: 79px;
	top: 250px;
	border: 1px solid #BDBDBD;
	background: #F05136;
}

.innings {
	position: absolute;
	width: 116px;
	height: 27px;
	left: 95px;
	top: 255px;
	z-index: 9;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;

}

.score {
	position: absolute;
	width: 116px;
	height: 27px;
	left: 911px;
	top: 255px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;

}

.list {
	position: absolute;
	width: 956.57px;
	height: 43.81px;
	left: 80.14px;
	top: 277px;
	border: 1px solid #BDBDBD;
	background: #FAFAFA;
}

.titles {
	position: absolute;
	width: 960px;
	height: 43.81px;
	left: 79px;
	top: 285px;
	border: 1px solid #BDBDBD;
	background: rgb(252, 251, 251);
}

.batsman {
	position: absolute;
	width: 74px;
	height: 27px;
	left: 100px;
	top: 295px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.r {
	position: absolute;
	width: 53.71px;
	height: 27.38px;
	left: 695px;
	top: 295px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.b {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 771px;
	top: 295px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.four {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 841px;
	top: 295px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.six {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 899px;
	top: 295px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.sr {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 986px;
	top: 295px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.title1 {
	position: absolute;
	width: 960px;
	height: 43.81px;
	left: 79px;
	top: 330px;
	border: 1px solid #BDBDBD;
	background: rgb(252, 251, 251);
}

.sehwag {
	position: absolute;
	width: 149px;
	height: 27px;
	left: 100px;
	top: 333px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #2F80ED;
}



.malinga {
	position: absolute;
	width: 136px;
	height: 27px;
	left: 351px;
	top: 333px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #828282;

}

.r1 {
	position: absolute;
	width: 53.71px;
	height: 27.38px;
	left: 695px;
	top: 333px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.b1 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 771px;
	top: 333px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.four1 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 841px;
	top: 333px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.six1 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 899px;
	top: 333px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.sr1 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 986px;
	top: 333px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.title2 {
	position: absolute;
	width: 960px;
	height: 43.81px;
	left: 79px;
	top: 365px;
	border: 1px solid #BDBDBD;
	background: rgb(252, 251, 251);
}

.sachin {
	position: absolute;
	width: 149px;
	height: 27px;
	left: 100px;
	top: 368px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #2F80ED;
}

.malinga1 {
	position: absolute;
	width: 238px;
	height: 27px;
	left: 351px;
	top: 368px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #828282;

}

.r2 {
	position: absolute;
	width: 53.71px;
	height: 27.38px;
	left: 695px;
	top: 368px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.b2 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 771px;
	top: 368px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.four2 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 841px;
	top: 368px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.six2 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 899px;
	top: 368px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.sr2 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 986px;
	top: 368px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.title3 {
	position: absolute;
	width: 960px;
	height: 43.81px;
	left: 79px;
	top: 400px;
	border: 1px solid #BDBDBD;
	background: rgb(252, 251, 251);
}

.gautham {
	position: absolute;
	width: 149px;
	height: 27px;
	left: 100px;
	top: 403px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #2F80ED;
}

.perera {
	position: absolute;
	width: 238px;
	height: 27px;
	left: 351px;
	top: 403px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #828282;

}

.r3 {
	position: absolute;
	width: 53.71px;
	height: 27.38px;
	left: 695px;
	top: 403px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.b3 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 771px;
	top: 403px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.four3 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 841px;
	top: 403px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.six3 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 899px;
	top: 403px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.sr3 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 986px;
	top: 403px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.title4 {
	position: absolute;
	width: 960px;
	height: 43.81px;
	left: 79px;
	top: 435px;
	border: 1px solid #BDBDBD;
	background: rgb(252, 251, 251);
}

.virat {
	position: absolute;
	width: 149px;
	height: 27px;
	left: 100px;
	top: 438px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #2F80ED;
}

.dilshan {
	position: absolute;
	width: 238px;
	height: 27px;
	left: 351px;
	top: 438px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #828282;

}

.r4 {
	position: absolute;
	width: 53.71px;
	height: 27.38px;
	left: 695px;
	top: 438px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.b4 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 771px;
	top: 438px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.four4 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 841px;
	top: 438px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.six4 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 899px;
	top: 438px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.sr4 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 986px;
	top: 438px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.title5 {
	position: absolute;
	width: 960px;
	height: 43.81px;
	left: 79px;
	top: 470px;
	border: 1px solid #BDBDBD;
	background: rgb(252, 251, 251);
}

.dhoni {
	position: absolute;
	width: 149px;
	height: 27px;
	left: 100px;
	top: 473px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #2F80ED;
}

.nout1 {
	position: absolute;
	width: 238px;
	height: 27px;
	left: 351px;
	top: 473px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #828282;

}

.r5 {
	position: absolute;
	width: 53.71px;
	height: 27.38px;
	left: 695px;
	top: 473px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.b5 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 771px;
	top: 473px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.four5 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 841px;
	top: 473px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.six5 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 899px;
	top: 473px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.sr5 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 986px;
	top: 473px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.title6 {
	position: absolute;
	width: 960px;
	height: 43.81px;
	left: 79px;
	top: 505px;
	border: 1px solid #BDBDBD;
	background: rgb(252, 251, 251);
}

.yuvi {
	position: absolute;
	width: 149px;
	height: 27px;
	left: 100px;
	top: 508px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #2F80ED;
}

.nout2 {
	position: absolute;
	width: 238px;
	height: 27px;
	left: 351px;
	top: 508px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #828282;

}

.r6 {
	position: absolute;
	width: 53.71px;
	height: 27.38px;
	left: 695px;
	top: 508px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.b6 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 771px;
	top: 508px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.four6 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 841px;
	top: 508px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.six6 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 899px;
	top: 508px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.sr6 {
	position: absolute;
	width: 51.43px;
	height: 27.38px;
	left: 986px;
	top: 508px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;


}

.title7 {
	position: absolute;
	width: 960px;
	height: 43.81px;
	left: 79px;
	top: 540px;
	border: 1px solid #BDBDBD;
	background: rgb(252, 251, 251);
}

.extra {
	position: absolute;
	width: 149px;
	height: 27px;
	left: 101px;
	top: 543px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #000000;
}

.extra1 {
	position: absolute;
	width: 233px;
	height: 27px;
	left: 695px;
	top: 543px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #000000;
}

.title8 {
	position: absolute;
	width: 960px;
	height: 43.81px;
	left: 79px;
	top: 575px;
	border: 1px solid #BDBDBD;
	background: rgb(252, 251, 251);
}

.total {
	position: absolute;
	width: 149px;
	height: 27px;
	left: 101px;
	top: 578px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #000000;
}

.total1 {
	position: absolute;
	width: 233px;
	height: 27px;
	left: 695px;
	top: 578px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #000000;
}

.title9 {
	position: absolute;
	width: 960px;
	height: 43.81px;
	left: 79px;
	top: 610px;
	border: 1px solid #BDBDBD;
	background: rgb(252, 251, 251);
}

.notbat {
	position: absolute;
	width: 149px;
	height: 27px;
	left: 101px;
	top: 613px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #000000;
}

.notbat1 {
	position: absolute;
	width: 233px;
	height: 27px;
	left: 351px;
	top: 613px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #2F80ED;
}

.notbat2 {
	position: absolute;
	width: 233px;
	height: 27px;
	left: 455px;
	top: 613px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #2F80ED;
}

.notbat3 {
	position: absolute;
	width: 233px;
	height: 27px;
	left: 585px;
	top: 613px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #2F80ED;
}

.notbat4 {
	position: absolute;
	width: 233px;
	height: 27px;
	left: 687px;
	top: 613px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #2F80ED;
}

.notbat5 {
	position: absolute;
	width: 233px;
	height: 27px;
	left: 785px;
	top: 613px;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;

	color: #2F80ED;
}

.end {
	position: relative;
	width: 962px;
	height: 38px;
	left: 70px;
	top: 720px;
	background: #F05136;
	border: 2px solid #F05136;
	box-sizing: border-box;
}

.one {
	color: white;
}

.footers {
	position: relative;
	padding-top: 44%;
	/* top: 670px; */
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
	font-style: normal;
}

a {
	text-decoration: none;

}