/* Type your code here */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}
body{
	background: url(./assets/background-image1.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	background-attachment: fixed;
	font-size:18px;
}

body>img{
	margin-left: 80%;
	padding: 20px 70px;
}
#wrapper{
margin: 0px 150px 0;
}
h1{
	text-shadow:5px 0px 5px rgb(129, 126, 126);
	font-size:60px;
}
h3{
	color:grey;
	font-size:30px;
	margin-bottom: 30px;
}
table{
	text-align: left;
	border-collapse: collapse;
	width: 74%;
	background-color: white;
	

}
.second_heading{
	text-align: right;
	padding: 0.5px 5px;
}

.status{
	padding-left: 100px;
	color: rgb(150, 150, 150);

}
th,td{
	padding: 10px;
}
.blue-font a{
	color: #2f80ed;
	text-decoration: none;
}
tr{
	border-bottom: 1px solid  rgb(190, 183, 183);;
}
/* change the font family and spacing as per your project font */
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: 50px;
	margin-left: 160px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;
    
}