html { 
	background: url(assets/background-image1.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
  h1, .sub, .crictable, .logo{
	  padding: 35px;
  }
  h1{
	  font-family: sans-serif;
	  text-shadow: 2px 2px grey;
	  font-weight: 700;
	  font-size: 56px;
  }
  .sub{
	  font-family: sans-serif;
	  color: grey;
	  font-weight: 600;
	  font-size: x-large;
	  margin-bottom: 2em;
  }
  
  th{
	  text-align: left;
	  vertical-align: top;
  }
  .top{
	  background-color: orangered;
	  color:white;
	  font-size: x-large;
	  font-weight: 800;
  }
  table{
	  background-color: white;
  }
  tr,td{
	border-bottom: 1px solid #ddd;
	height: 50px;
	vertical-align: center;
  }
  .bat{
	  background-color: lightgrey;
  }

  .name2{
	  color: grey;
	  font-size: 25px;
  }
  .name{
	  color: black;
	  font-size: x-large;
  }
  .logo {
    position: absolute;
    top: 0px;
    right: 0px;
}
.didntbat{
	text-align: left;
	justify-content: space-around;
	
}
/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	align-content: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
  }
  

  .popup .popuptext::after {
	content: "";
	position: relative;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
  }
  
  
  @-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }
/* change the font family and spacing as per your project font */
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: 750px;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;
    
}
