body{
	padding-left:30px;
	background-image:url(./assets/background-image1.png);
	background-repeat: no-repeat;
	background-position-x:80%;
	background-position-y:90%;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
	justify-content: space-around;
  
}
p{
	font-size:45px;
	font-weight: bolder;
	line-height: 30px;
	text-decoration-color: dimgrey;
	text-shadow: 2px 2px gray;
}
p>strong{
	font-size:22px;
	color:gray;
	text-shadow: none;
	line-height:10px;
	
}
.title{
	text-align: left;
	background-color:coral;
	color:white;
	padding-left:18px;
	line-height: 30px;
	
}
.heading{
	text-align:right;
	background-color:coral;
	color:white;
	padding-right:15px;
	line-height:30px;
}
.batsman{
	text-align: left;
	width:200px;
	padding-left: 15px;
	
}
.blank{
	color:gray;
	width:250px;
}
a{
	text-decoration: none;
	
}
.score{
	text-align:right;
	width:30px;
	padding-right:15px;
	
}
.info{
	padding-left:10px;

}
.others{
	padding-left:9px;
}
table{
	background-color: white;
	border-collapse:collapse;
	font-size: 15px;
	font-weight:600;

}

	

td{
	padding:8px;
	border-bottom: 1px solid rgb(180, 174, 174);
}
	